/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.alert-text-white {
    color: #fff !important;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: -7px;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
}

.custom-swal-popup {
    width: 42em !important;
    border-radius: 20px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
    padding: 20px !important;
    background-color: #000000 !important;
}


.red-title {
    color: rgb(11, 187, 34) !important ;
}


textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    padding: 10px;
    font-size: 9px;
    margin-bottom: 10px;
    border: 1px solid #3ece05;
    border-radius: 7px;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: pre;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

p {
    margin-bottom: 10px;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #1e1e1e;
    color: #38fa08;
}

.dark-mode .container {
    background-color: #2a2a2a;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.dark-mode input[type="text"],
.dark-mode input[type="email"],
.dark-mode input[type="number"],
.dark-mode textarea {
    background-color: #333;
    color: #fff;
    border-color: #555;
    }
.dark-mode form label {
    margin-bottom: -7px;
}

/* Dark Mode Button Styles */
.dark-mode-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dark-mode-btn:hover {
    background-color: #45a049;
}


.dark-mode .btn {
    background-color: #17c211;
}

.dark-mode .btn:hover {
    background-color: #89fc06;
}

/* Footer Styles */
.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    color: #818181;
}

.footer p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

/* Dark Mode Dropdown Content Styles */
.dark-mode .dropdown-content {
    background-color: #2a2a2a;
    border-color: #555;
}

/* Dark Mode Dropdown Content Label Styles */
.dark-mode .dropdown-content label {
    color: #aaa;
}

/* Dark Mode Dropdown Content Input Styles */
.dark-mode .dropdown-content input {
    background-color: #444;
    border-color: #666;
    color: #fff;
}


/* Settings Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Dropdown Content Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Dropdown Content Item Styles */
.dropdown-content a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    border-radius: 3px;
}

/* Dropdown Content Label Styles */
.dropdown-content label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

/* Dropdown Content Input Styles */
.dropdown-content input {
    width: calc(100% - 24px);
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Adjust margins for labels and inputs */
.dropdown-content label,
.dropdown-content input {
    margin-bottom: 8px;
}

/* Dropdown Hover Effect */
.dropdown:hover .dropdown-content {
    display: block;
}


/* System Information Styles */
.system-usage {
    top: 20px;
    right: 230px;
    max-width: calc(100% - 40px);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
    background-color: #00000000;
}

.system-usage p {
    margin: 10px 0;
}

.system-usage i {
    margin-right: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .system-usage {
        top: auto;
        bottom: -19px;
        right: 25px;
        max-width: calc(100% - 40px);
        padding: 15px;
        font-size: 12px;
    }
}


/* Last Claim Button Styles */
#last-claim-btn {
    margin-top: 20px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Light mode */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 60%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    animation: modalopen 0.4s;
}

/* Dark mode */
.dark-mode .modal-content {
    background-color: #1f1f1f;
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 60%;
    max-width: 400px;
    border-radius: 15px;
    animation: modalopen 0.4s;
}



@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer-links a {
    color: #000 !important ;
    text-decoration: none;
    margin-right: 10px;
}

.alert-text-white .footer-links a {
    color: #fff !important ;
}

h1 {
    text-align: center;
    position: relative;
}

.info-box {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
}

.username-display {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover, .dropbtn:hover {
    background-color: #366634;
    color: #e0e0e0;
}

.dark-mode .dropdown-content {
    background-color: #444;
}

.dark-mode .top-right, .dark-mode .username-display {
    background-color: #333;
    border-color: #666;
}

@media (max-width: 768px) {
    .top-right, .username-display {
        position: static;
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .top-right, .username-display {
        padding: 10px;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}
