<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETCMC Client</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .hidden {
            display: none;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>ETCMC Client</h1>
        <!-- Settings dropdown -->
        <!-- Add a logout item to the dropdown menu -->
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-cog"></i></button>
            <div class="dropdown-content">
                <label for="port">Geth Port:</label><br>
                <input type="text" id="port" name="port" value="30303" required><br><br>
                <!-- Add more settings options here -->
                <button id="change-credentials-btn" class="btn">Change Credentials</button>
                <!-- Button to hide/show system usage -->
                <button id="toggle-system-usage-btn" class="btn">Toggle System Usage</button>
                <!-- Logout button -->
                <button id="logout-btn" class="btn">Logout</button>
            </div>
        </div>


        <!-- Dark mode button -->
        <button id="dark-mode" class="dark-mode-btn"><i id="dark-mode-icon" class="fa-solid fa-circle-half-stroke"></i></button>

        <!-- System usage section with icons -->
        <div class="system-usage">
            <p><i class="fas fa-microchip"></i> <span id="cpu-usage">CPU Usage: Fetching...</span></p>
            <p><i class="fas fa-memory"></i> <span id="ram-usage">RAM Usage: Fetching...</span></p>
            <p><i class="fas fa-hdd"></i> <span id="disk-usage">Disk Usage: Fetching...</span></p>
            <p><i class="far fa-clock"></i> <span id="uptime">Uptime: Fetching...</span></p>
            <p><i class="fas fa-power-off"></i> <span id="pending-reboot">Pending Reboot: Fetching...</span></p>
        </div>

        <button id="open-register-modal" class="btn">Open Registration</button>
        <button id="last-claim-btn" class="btn">Last Claim</button>
        <button id="help-btn" class="btn">Help</button>
        <button id="global-btn" class="btn">Announcement</button>
        <h2>Geth Console Output</h2>
        <div>
            <button id="font-size-increase-btn" class="icon-btn"><i class="fas fa-plus"></i></button>
            <button id="font-size-decrease-btn" class="icon-btn"><i class="fas fa-minus"></i></button>
        </div>
        
        <textarea id="geth-output" readonly></textarea>
        
        <button id="start-node-btn" class="btn">Start Node</button>
        <button id="stop-node-btn" class="btn">Stop Node</button>
        <button class="btn" id="claim-balance-btn">Claim Balance</button>
        <h2>Current ETCPOW</h2>
        <p id="current-balance">Fetching balance...</p>
        <p id="claim-estimated-time">Estimated Time to Claim: Fetching...</p>
    </div>

    <!-- The Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Register Node</h2>
            <form id="registration-form" action="/register" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="wallet_address">Wallet Address:</label><br>
                <input type="text" id="wallet_address" name="wallet_address" required><br><br>
                <button type="submit" class="btn">Register Node</button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 ETCMC Client. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
    // Function to increase font size
document.getElementById("font-size-increase-btn").addEventListener("click", function() {
    changeFontSize(1);
});

// Function to decrease font size
document.getElementById("font-size-decrease-btn").addEventListener("click", function() {
    changeFontSize(-1);
});

// Function to change font size
function changeFontSize(delta) {
    var textarea = document.getElementById("geth-output");
    var currentSize = parseInt(window.getComputedStyle(textarea, null).getPropertyValue('font-size'));
    var newSize = currentSize + delta;
    textarea.style.fontSize = newSize + "px";
    // Save font size in local storage
    localStorage.setItem("fontSize", newSize);
}

// Load font size from local storage if available
window.addEventListener("load", function() {
    var fontSize = localStorage.getItem("fontSize");
    if (fontSize) {
        document.getElementById("geth-output").style.fontSize = fontSize + "px";
    }
});

    </script>
</body>
</html>
